/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Colors
$light-green: #D1D9CE;
$medium-green: #98A08D;
$dark-green: #757B6D;
$cream: #FDFBF7;
$dark-gray: #5A5856;
$medium-gray: #64605f;
$purple: #9158A2; 
$orange: #ad7237;

$navbar-bg: $gray; // navbar

// Base document colors
$navbar-bg: $cream;
$navbar-fg: $medium-green; 
$navbar-hl: $purple; 
$body-bg: $light-green;


// Links
$link-color: $orange !default;
$link-decoration: none !default;
$link-hover-color: $orange !default;
$link-hover-decoration: underline !default;

// Footer
$footer-bg: $gray-900 !default;
$footer-fg: $gray-300 !default;

// Inline code
$code-bg: $gray-200 !default;
$code-color: $gray-900 !default;

// TOC
$toc-color: $orange;
$toc-font-size: 1em;

// Code copy
$btn-code-copy-color-active: $orange !default;

/* CLASS SELECTORS (copied from inspecting site -- Quarto defined?) */

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 50px;
  width: auto;
}

// headshot shape
.rounded { 
    border-radius: 50px 20px 50px 20px !important;
}

// button text size (landing page)
.about-link-text { 
  font-size: 18px;
}

// button icon size (landing page)
.bi { 
  font-size: 18px;
}